/* Disable updated at times */
.author-text .updated-at {
  display: none;
}
/* Match header to main site. Navbar is now taken off banner to be direct child of body to ensure correct sticky. Applied to entire helpdocs */
 header {
   position: sticky;
   top: 0;
   background: #fff;
   z-index: 10;
   margin: 0 auto;
   width:auto;
}

@media (min-width: 1200px) {
  header {
      max-width: 1220px;
    }
}
@media (min-width: 992px) {
  header {
    padding: 0 16px;
    }
}
/* Logo styling desktop */
.hnLogo {
  max-width: 171px;
  height: 47px;
  vertical-align: top;
  max-height: 47px;
  box-sizing: border-box;
  font-size: 1.1rem;
}
.navLeft {
  padding: .425rem 0;
  display: inline-block;
  margin-right: 1rem;
}

.hnItems a,
footer .ftItems a {
  padding: 0.5rem 0;
  margin: 0 1.7rem; 
  color: #887f95;
  font-size: 1.05rem;
  font-weight: 400;
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}
/* Menu items styling */
.hnItems li:first-child > a,
.hnItems li:nth-child(2) > a,
.hnItems li:nth-child(3) > a {
  margin: 0;
  padding: 8px 0 8px 0;
}

/*.hnItems a:hover > .nav-link {
    border-bottom-style: solid;
    border-bottom-width: 1.9px;
    padding-bottom: 4px;
    transition-duration: .5s;
} */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1rem 15px;
  margin: 0 auto;
}

/* Main menu styling */
.navRightItems {
  display: flex;
  flex: 1 0 auto; // flex: grow shrink basis;
  align-items: center;
}
.navRightItems ul {
  display: flex;
  list-style: none;
  font-size: 1.05rem;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: 1 0 100%;
}

/* Since it's flex margins not needed, and specified indivudually when needed */
.navRightItems li {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-size: 1.05rem;
}

.navRightItems li a {
  display: block;
  position: relative;
}
.navRightItems li a .nav-link {
  display: inline;
}

.hnItem.contactButton {
  display: none;
}

/* to push menu left from logo*/
.navRightItems li:first-child{
  margin-left: auto; 
  margin-right: 1.7rem;
}
.navRightItems li:first-child > a{
  margin-left: 10px; //extra margin to compensate for down caret absent at "help" 
}
.navRightItems li:nth-child(2),
.navRightItems li:nth-child(3) {
  margin: 0 1.7rem;
}

/* Styling Get started button, margin is needed to occupy free space */
.navRightItems li:nth-child(4) {
  margin-left: auto;
}

/* Button styling: extra margin here is unnecessary since it's taken care of by parent element */
.navRightItems li:nth-child(4) > a {
  background: #38c690;
  border: 1px solid transparent;
  background-color: #38c690;
  border-color: #38c690;
  color: #fff;
  padding: 8px 30px 12px;
  margin: 0;
  font-size: 1.05rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: .6rem;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}
/* Emulate lift class, aka make it as intended */
.navRightItems li:nth-child(4) > a:hover,
.navRightItems li:nth-child(4) > a:focus {
  background: #30a87a;
  transform: translateY(-3px);
}

/* Color hover styles of menu individually, don't ask me why so much repetitions - compatibility issues in Edge and Chrome */
.hnItems li:first-child > a:hover > .nav-link,
.hnItems li:first-child > a:focus > .nav-link {
  border-bottom-color: #fcad26;
  border-bottom-style: solid;
  border-bottom-width: 1.9px;
  padding-bottom: 4px;
  transition-duration: .5s;
}

.hnItems li:nth-child(2) > a:hover > .nav-link,
.hnItems li:nth-child(2) > a:focus > .nav-link {
  border-bottom-style: solid;
  border-bottom-width: 1.9px;
  padding-bottom: 4px;
  transition-duration: .5s;
  border-bottom-color: #38c690;
}

.hnItems li:nth-child(3) > a > .nav-link,
footer .ftItems li:nth-child(3) > a > .nav-link {
  border-bottom: 1.9px solid #6f42c1;
  padding-bottom: 4px;

}
.navRightItems li:nth-child(4) > a  > .nav-link {
  border: none;
}

.hnItems li:nth-child(5) > a {
  padding: 8px 0 8px;
}
.hnItems li:nth-child(5) > a:hover > .nav-link,
.hnItems li:nth-child(5) > a:focus > .nav-link{
  border-bottom-color: #fcad26;
  border-bottom-style: solid;
  border-bottom-width: 1.9px;
  padding-bottom: 4px;
  transition-duration: .5s;

}

/* Move search container on child pages to hero like position */
#search-container.smallSearchContainer {
  grid-row: 2;
  grid-column: 1 / span 2;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px 0;
}

/* adjust breadcrumbs to stay in line */
.bcList li > * {
  vertical-align: middle;
}

/* Disable white mobile menu switch */
.hnMobileNavButton,
.mobileMenuPopup {
  display: none;
}

/* Footer */
footer {
  grid-template-columns: 12fr 29fr !important;
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  border-top: none !important;
}

footer .navRightItems li:nth-child(4) > a {
  color: #fff !important;
}

@media only screen and (min-width: 992px) {
  #overlay {
    display: none !important;
  }
  .mobileMenuPopup {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  nav{
    padding: 1rem 16px;
    flex-wrap: wrap;
    background: #fff; 
  }
  .hnMobileNavButton {
    display: block;
    align-self: center;
  }
  .mobileMenuPopup.popup {
    visibility: collapse;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    transition:  height 0.35s ease;
  }

  .hnMobileNavButton.active~.hnMobileItems.mobileMenuPopup.popup{
    display:block;
    position: relative;
    visibility: visible;
    opacity:1;
    flex: 1 0 calc(100% - 3rem);
    box-shadow: none;
    height: auto;
  }


  /* Adjusting Bars built-in mobile nav */
  .hnMobileIcon {
    stroke: rgba(0,0,0,.5);
  }
  .hnMobileNavButton > svg{
    width: 32.39px;
    height:26.39px;
    vertical-align: middle;
    font-size: 16px;
  }
  
  /* Mobile menu adjustment */
  .mobileMenuPopup.popup {
    background-color: rgba(111,66,193,.2);
    padding: 20px 20px 25px 20px;
    border-radius: 6px;
    overflow-y: auto;
    margin-top: 20px;
  }
  .mobileMenuPopup.popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobileMenuPopup.popup ul li {
    padding: 7px 1.7rem 9px;
    margin: 0;
  }
  .mobileMenuPopup.popup ul li a {
    color: #887f95;
    font-weight: 400;
    line-height: 1.5;
    font-family: Montserrat, sans-serif;
    font-size: 1.05rem;
  }

  .mobileMenuPopup.popup ul li:nth-child(3){
    margin-bottom: 15px; //to account down caret on main site
  }

 /* in order to implement lift upon focus display in changed to table-cell */
  .mobileMenuPopup ul li:nth-child(4) {
    display: table-cell;
    padding: 10px 30px;
    background: #38c690;
    border-radius: 0.6rem;
    margin: 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border: 1px solid transparent;
  }

  .mobileMenuPopup ul li:nth-child(4):hover,
  .mobileMenuPopup ul li:nth-child(4):focus {
    background: #30a87a;
    transform: translateY(-3px);
  }
  .mobileMenuPopup ul li:nth-child(4) > a {
    color: #fff;
  }
  .mobileMenuPopup ul li:nth-child(5) {
    display: table-cell;
    padding: .5rem 1.7rem;
    vertical-align: top;
  }

  .navRightItems {
    display: none;
  }
}

