@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

// font weight to match our site
h1, h2, h3, h4, h5, h6,
p,
a,
.bcList li // this is the breadcrumb on category pages
{
  font-weight: 400;
}

// region home page

// home page hero title "how can we help you?"
h1.scTitle {
  color: #090a0b;
  font-size: 30px;
  text-align: center;
}

// category titles on the home page
h3.cCardTitle {
  font-size: 26px;
}

// sidebar main categories on the home page
.sidebar-category > p {
  font-weight: 400;
}

// search results titles
h4.srHitTitle {
  margin-bottom: 0;
}

// endregion

// region category page

h2.cTitle {
  font-size: 30px;
}

// on small screens, make the top margin smaller
@media only screen and (max-width:1000px) {
  h2.cTitle {
    margin-top: 30px;
  }
}

// within a category, the card titles
h4.aCardTitle {
  font-size: 21px;
}

// endregion
